# flyctl launch added from .gitignore
# Ignore virtual environment
**/venv

# Ignore Python cache files
**/__pycache__
**/*.pyc
**/*.pyo

# Ignore log files
**/*.log

# Ignore system files
**/.DS_Store
**/Thumbs.db

# Ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints

# Ignore .json files in the static folder
fly.toml
.env
.vscode/
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
*.json
*.pth
.DS_Store