# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore large files (manually add if you don’t want to commit a specific model)
app/static/vit_trained_wheel.pth
static/vit_trained_wheel.pth

# Ignore .json files in the static folder
app/static/*.json