<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="location">
                📍 Mulyorejo, Surabaya
            </div>
            <div class="upload-container">
                <button class="upload-btn"><a href="/upload">Upload Photo/File</a></button>
            </div>
        </div>

        <div class="prediction-title">
        <h2>Prediction History</h2>
        </div>

        <div id="historyContainer" class="prediction-table">
        <table border = "1">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Hasil Prediksi</th>
                    <th>Skor Blur</th>
                    <th>Probabilitas</th>
                </tr>
            </thead>
            <tbody id="history-table-body">
                <tr>
                    <td colspan="4">Memuat data sebelumnya...</td>
                </tr>
            </tbody>
        </table>
        <p id="hidden-count"></p>
        </div>
        
        <div class="charts-container">
            <canvas id="barChart" width="400" height="300"></canvas>
        </div>

        <div class="footer">
            <button><a href="/history">History</a></button>
            <button><a href="/">Home</a></button>
            <button>Feedback</button>
        </div>
    </div>

    <script>
        let userUUID = localStorage.getItem("userUUID");
        console.log("Current User UUID:", userUUID);
        let db;

        function openDatabase() {
            return new Promise((resolve, reject) => {
                const dbRequest = indexedDB.open("PredictionHistoryDB", 1);

                dbRequest.onsuccess = function(event) {
                    db = event.target.result;
                    resolve(db);
                };

                dbRequest.onerror = function(event) {
                    reject("Error Membuka Database: " + event.target.error);
                };

                dbRequest.onupgradeneeded = function(event) {
                    const db = event.target.result;
                    const objectStore = db.createObjectStore("history", { keyPath: "id", autoIncrement: true });
                    objectStore.createIndex("myuuid", "myuuid", { unique: false });
                };
            });
        }

        if (userUUID) {
            openDatabase()
                .then(db => {
                    console.log("Berhasil Membuka Database", db);
                    fetchHistoryFromIndexedDB(db);
                })
                .catch(error => {
                    console.error(error);
                });
        } else {
            console.log("Belum ada data pada device ini....");
            document.getElementById("historyContainer").innerHTML = '<tr><td colspan="4">Gunakan Fitur Upload Photo/File Lalu Hasil akan Tampil Disini</td></tr>';
        }

        function renderBarChart(labels, data) {
            const ctx = document.getElementById('barChart').getContext('2d');

            const formattedData = labels.map((label, index) => {
                return {
                    label: label,
                    flatTire: data[0][index] || 0,
                    fullTire: data[1][index] || 0,
                    noTire: data[2][index] || 0
                };
            });

            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Predicted Class Count',
                        data: data, 
                        backgroundColor: [
                            'rgba(75, 192, 192, 0.6)',
                            'rgba(255, 99, 132, 0.6)',
                            'rgba(255, 206, 86, 0.6)'
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(255, 99, 132, 1)',
                            'rgba(255, 206, 86, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    plugins: {
                        legend: {
                            display: false,
                            position: 'top'
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Predicted Classes'
                            }
                        },
                        
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Jumlah'
                            }
                        }
                    }
                }
            });
        }

        function extractDataBarChart(history) {
            const predictedClasses = history.map(item => item.predicted_class);
            const classCounts = predictedClasses.reduce((acc, cls) => {
                acc[cls] = (acc[cls] || 0) + 1;
                return acc;
            }, {});

            const labels = Object.keys(classCounts);
            const data = Object.values(classCounts);

            renderBarChart(labels, data);
        }

        function displayHistory(history) {
            const tableBody = document.getElementById("history-table-body");
            const hiddenCountElement = document.getElementById("hidden-count");

            if (history.length === 0) {
                tableBody.innerHTML = `<tr><td colspan="4">Belum ada hasil prediksi...</td></tr>`;
                hiddenCountElement.style.display = "none";
            } else {
                history.sort((a, b) => new Date(b.timestamp) - new Date(a.timestamp));

                tableBody.innerHTML = "";
                let hiddenCount = 0;

                history.slice(0, 3).forEach((entry) => {
                    const row = document.createElement("tr");
                    const timestampCell = document.createElement("td");
                    const predictedClassCell = document.createElement("td");
                    const varianceCell = document.createElement("td");
                    const probabilitiesCell = document.createElement("td");

                    timestampCell.textContent = entry.timestamp;
                    predictedClassCell.textContent = entry.predicted_class;
                    varianceCell.textContent = entry.variance;
                    probabilitiesCell.textContent = entry.probabilities;

                    row.appendChild(timestampCell);
                    row.appendChild(predictedClassCell);
                    row.appendChild(varianceCell);
                    row.appendChild(probabilitiesCell);

                    tableBody.appendChild(row);
                });

                if (history.length > 3) {
                    hiddenCount = history.length - 3;
                    hiddenCountElement.textContent = `Ada ${hiddenCount} hasil yang disembunyikan...`;
                    hiddenCountElement.style.display = "block";
                } else {
                    hiddenCountElement.style.display = "none";
                }
            }
        }

        function fetchHistoryFromIndexedDB(db) {
            const transaction = db.transaction("history", "readonly");
            const objectStore = transaction.objectStore("history");
            const index = objectStore.index("myuuid");
            const request = index.getAll(userUUID);

            request.onsuccess = function(event) {
                const history = event.target.result;

                if (history.length === 0) {
                    console.log("Belum ada hasil prediksi...");
                    document.getElementById("history-table-body").innerHTML = `<tr><td colspan="4">Belum ada hasil prediksi...</td></tr>`;
                } else {
                    displayHistory(history);
                    extractDataBarChart(history);
                }
            };

            request.onerror = function(event) {
                console.error("Error Mengambil Data dari Database", event.target.error);
            };
        }
    </script>

</body>
</html>
