<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechMon</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="location">
                📍 Mulyorejo, Surabaya
            </div>
            <div class="upload-container">
                <button class="upload-btn"><a href="/upload">Upload Photo/File</a></button>
                <!-- <input type="file" id="fileInput" style="display: none;" onchange="uploadFile()"> -->
            </div>
        </div>
 
        <div class="title">
            TechMon
        </div>
    
        <div class="images">
            <div class="image-item">
                <img src="ban2.jpg" alt="Tire 1">
            </div>
            <div class="image-item">
                <img src="ban3.jpg" alt="Tire 2">
            </div>
            <div class="image-item">
                <img src="ban4.jpg" alt="Tire 3">
            </div>
        </div>
        
        <div class="tagline">
            Quick tire check in a crisis
        </div>
        
        <div class="footer">
            <button>History</button>
            <button><a href="/">Home</a></button>
            <button>Feedback</button>
        </div>
    </div>

</body>
</html>
